<h4>First name: <%= @person.first_name %></h4>
<h4>Last name: <%= @person.last_name %></h4>
<p>Age: <%= @person.age %></p>
<p>Hair color: <%= @person.hair_color %></p>
<p>Eye color: <%= @person.eye_color %></p>
<p>Gender: <%= @person.gender %></p>
<p>Alive: <%= @person.alive %></p>
<p><%= link_to "Add Address", addresses_new_address_path %></p>
<%= link_to "Back", people_path %>
