<h1>Address</h1>
<h2><%= person.full_name %></h2>
<p>State: <%= @person.state %></p>
<p>City: <%= @person.city %></p>
<p>Zip: <%= @person.zip %></p>
<%= link_to "Edit", addresses_edit_address_path %>
<%= link_to "Delete", person_path, method: :delete %>
<%= link_to "Back", person_path %>